<!DOCTYPE html>
{% import "macros.tpl.html" as m with context %}
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>{% block title %}{% endblock %} - Frangiclave Compendium</title>
    <meta name="description" content="{% block description %}{% endblock %}">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ self.title() }} - Frangiclave Compendium">
    <meta name="twitter:description" content="{{ self.description() }}">
    <meta name="twitter:image" content="https://www.frangiclave.net/static/images/elementArt/toolknockf.png">
    <meta property="og:title" content="{{ self.title() }} - Frangiclave Compendium">
    <meta property="og:description" content="{{ self.description() }}">
    <meta property="og:image" content="https://www.frangiclave.net/static/images/elementArt/toolknockf.png">
    <meta property="og:type" content="article">

    <link href="https://fonts.googleapis.com/css?family=Forum|Lato" rel="stylesheet">
    <link rel="stylesheet" href="{{ base_url }}/static/style.css" />
    <link rel="icon" type="image/png" href="{{ base_url }}/static/img/knock.png">

    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script
            defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js"
            integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe"
            crossorigin="anonymous"></script>
    <script src="{{ base_url }}/static/frangiclave.js"></script>
</head>
<body>
<header>
    <form id="search-box" action="{{ base_url }}/search/" method="get">
        <input type="search" title="search" id="search-text" name="keywords" value="{{ keywords }}"/><input type="submit" id="search-submit" value="Search" />
    </form>

    <a href="{{ base_url }}/">
        <img src="{{ base_url }}/static/img/knock.png" id="header-image" />
        <h1>Frangiclave</h1>
    </a>
</header>
<div id="container">
    <div id="sidebar">
        {% if not read_only %}
        <div id="actions">
            <button class="action" id="action-load">Load</button>
            <button class="action" id="action-save">Save</button>
        </div>
        {% endif %}
        <div id="sections">
            <div class="section-title">Decks</div>
            <div class="section-list" style="display: {{ 'block' if show_decks else 'none' }};">
                {{ m.file_list(files, 'decks', read_only, 'deck', path) }}
            </div>
            <div class="section-title">Elements</div>
            <div class="section-list" style="display: {{ 'block' if show_elements else 'none' }};">
                {{ m.file_list(files, 'elements', read_only, 'element', path) }}
            </div>
            <div class="section-title">Endings</div>
            <div class="section-list" style="display: {{ 'block' if show_endings else 'none' }};">
                {{ m.generic_list(endings, 'endings', read_only, 'ending', path) }}
            </div>
            <div class="section-title">Legacies</div>
            <div class="section-list" style="display: {{ 'block' if show_legacies else 'none' }};">
                {{ m.file_list(files, 'legacies', read_only, 'legacy', path) }}
            </div>
            <div class="section-title">Recipes</div>
            <div class="section-list" style="display: {{ 'block' if show_recipes else 'none' }};">
                {{ m.file_list(files, 'recipes', read_only, 'recipe', path) }}
            </div>
            <div class="section-title">Verbs</div>
            <div class="section-list" style="display: {{ 'block' if show_verbs else 'none' }};">
                {{ m.file_list(files, 'verbs', read_only, 'verb', path) }}
            </div>
        </div>
    </div>
    <div id="content">
        {% block content %}Content{% endblock %}
    </div>
</div>
<footer>Cultist Simulator is the sole property of Weather Factory. All rights reserved.<br />All game content on this website, including images and text, is used with permission.</footer>
</body>
</html>
