{% extends "base.tpl.html" %}
{% import "macros.tpl.html" as m with context %}
{% block title %}Deck: {{ deck.deck_id }}{% endblock %}
{% block description %}{{ deck.description }}{% endblock %}
{% block content %}
<h2 id="content-title">
    {% if not read_only %}
    <span id="content-actions">
        <a href="#" class="content-action" id="content-delete">
            <span class="fas fa-trash-alt"></span>
        </a>
        <a href="#" class="content-action" id="content-edit">
            <span class="fas fa-edit"></span>
        </a>
    </span>
    {% endif %}
    <span id="content-title-prefix">Deck:</span> {{ deck.deck_id }}
</h2>

<p><strong>Label:</strong> {{ m.optional(deck.label) }}</p>

<p><strong>Description:</strong> {{ m.multiline(m.optional(deck.description)) }}</p>

<p><strong>Draw Messages:</strong> {% if not deck.draw_messages %}<em>None</em>{% endif %}</p>
<ul>
    {% for dm in deck.draw_messages %}<li>{{ m.element(dm.element.element_id)}}: {{ m.multiline(dm.message) }}</li>{% endfor %}
</ul>

<p><strong>Default Draw Messages:</strong> {% if not deck.default_draw_messages %}<em>None</em>{% endif %}</p>
<ul>
    {% for dm in deck.default_draw_messages %}<li>{{ m.element(dm.element.element_id)}}: {{ m.multiline(dm.message) }}</li>{% endfor %}
</ul>

<p><strong>Cards:</strong></p>
<ul>
    {% for card in deck.cards %}<li>{{ m.element(card.element_id) }}</li>{% endfor %}
</ul>

<p><strong>Default Card:</strong> {{ m.element(deck.default_card.element_id) }}</p>

<p><strong>Reset on Exhaustion?</strong> {{ m.yes_no(deck.resets_on_exhaustion) }}</p>

<p><strong>Comments:</strong> {{ m.multiline(m.optional(deck.comments)) }}</p>

{% endblock %}
