{% extends "base.tpl.html" %}
{% import "macros.tpl.html" as m with context %}
{% block title %}Ending: {{ ending.ending_id }}{% endblock %}
{% block description %}{{ ending.description }}{% endblock %}
{% block content %}
<h2 id="content-title">
    {% if not read_only %}
    <span id="content-actions">
        <a href="#" class="content-action" id="content-delete">
            <span class="fas fa-trash-alt"></span>
        </a>
        <a href="#" class="content-action" id="content-edit">
            <span class="fas fa-edit"></span>
        </a>
    </span>
    {% endif %}
    <span id="content-title-prefix">Ending:</span> {{ ending.ending_id }}
</h2>
    <img src="{{ base_url }}/static/images/endingArt/{{ ending.image }}.png" class="content-image" width="200" height="290" />

    <p><strong>Title:</strong> {{ m.localised(ending.title) }}</p>

    <p><strong>Description:</strong> {{ m.localised(ending.description, True) }}</p>

    <p><strong>Ending Flavour:</strong> {{ ending.flavour.value }}</p>

    <p><strong>Animation:</strong> {{ ending.animation }}</p>

    <p><strong>Achievement:</strong> {{ m.optional(ending.achievement) }}</p>
{% endblock %}

