{% extends "base.tpl.html" %}
{% block title %}Home{% endblock %}
{% block description %}Welcome, friend, to the Frangiclave Compendium, the premier source of forbidden knowledge for the discerning occultist.{% endblock %}
{% block content %}
<img src="static/images/elementArt/toolknockf.png" style="border-radius: 3px; box-shadow: 0 0 10px #7b258e; display: block; margin: 0 auto;" height="128" width="128" />
<p style="font-size: 140%; font-style: italic; font-weight: bold; text-align: center;">Welcome, friend, to the Frangiclave Compendium, the premier source of forbidden knowledge for the discerning occultist.</p>

<p>The Frangiclave Compendium is an open-source repository for information about the contents of the game Cultist Simulator, as extracted from the game's files. Here you can browse the decks, elements, legacies, recipes and verbs included in the game. All DLC content is also included.</p>

<p><strong>Source:</strong> <a href="https://github.com/frangiclave/frangiclave-compendium">frangiclave/frangiclave-compendium</a>

<p style="margin-bottom: 0;">Hosted by <strong>Lyrositor</strong>.</p>

<p style="font-size: 70%; font-style: italic; margin-top: 5px;">If you'd like to donate, feel free to <a href="https://ko-fi.com/lyrositor">buy me a coffee</a>.</p>
{% endblock %}
