{% extends "base.tpl.html" %}
{% import "macros.tpl.html" as m %}
{% block title %}Legacy: {{ legacy.legacy_id }}{% endblock %}
{% block content %}
<h2 id="content-title">
    {% if not read_only %}
    <span id="content-actions">
        <a href="#" class="content-action" id="content-delete">
            <span class="fas fa-trash-alt"></span>
        </a>
        <a href="#" class="content-action" id="content-edit">
            <span class="fas fa-edit"></span>
        </a>
    </span>
    {% endif %}
    <span id="content-title-prefix">Legacy:</span> {{ legacy.legacy_id }}
</h2>

<p><strong>Comments:</strong> {{ m.multiline(m.optional(legacy.comments)) }}</p>

{% endblock %}
