{% macro deck(id) -%}{{ optional_link('/deck/', id) }}{%- endmacro %}
{% macro element(id) -%}{{ optional_link('/element/', id) }}{%- endmacro %}
{% macro legacy(id) -%}{{ optional_link('/legacy/', id) }}{%- endmacro %}
{% macro recipe(id) -%}{{ optional_link('/recipe/', id) }}{%- endmacro %}
{% macro verb(id) -%}{{ optional_link('/verb/', id) }}{%- endmacro %}

{% macro icons40(element) -%}<img src="/static/images/icons40/aspects/{% if element.icon %}{{ element.icon }}{% else %}{{ element.element_id }}{% endif %}.png" width="30" height="30" />{%- endmacro %}

{% macro aspect(a) -%}<a href="/element/{{ a.aspect.element_id }}/" class="aspect"><span class="aspect-text">{{ a.quantity }}</span>{{ icons40(a.aspect) }}</a>{%- endmacro %}
{% macro item(i) -%}<a href="/element/{{ i.element.element_id }}/" class="aspect"><span class="aspect-text">{{ i.quantity }}</span>{{ icons40(i.element) }}</a>{%- endmacro %}

{% macro aspect_list(aspects) -%}{% if aspects %}{% for a in aspects %}{{ aspect(a) }}{% endfor %}{% else %}<em>None</em>{% endif %}{%- endmacro %}
{% macro items_list(items) -%}{% if items %}{% for i in items %}{{ item(i) }}{% endfor %}{% else %}<em>None</em>{% endif %}{%- endmacro %}

{% macro multiline(string) -%}<span class="multiline">{{ string }}</span>{%- endmacro %}
{% macro yes_no(boolean) -%}{% if boolean %}Yes{% else %}No{% endif %}{%- endmacro %}
{% macro optional(value) -%}{% if value %}{{ value }}{% else %}<em>None</em>{% endif %}{%- endmacro %}
{% macro optional_link(link_base, id) -%}{% if id %}<a href="{{ link_base + id }}">{{ id }}</a>{% else %}<em>None</em>{% endif %}{%- endmacro %}

{% macro slot_specifications(specs) -%}
<ul>
    {% for slot in specs %}
    <li>
        <strong>Label:</strong> {{ slot.label }}<br />
        <strong>Description:</strong> {{ slot.description }}<br />
        <strong>Aspects:</strong> {{ items_list(slot.required) }}<br />
        <strong>Forbidden:</strong> {{ items_list(slot.forbidden) }}<br />
        <strong>Greedy?</strong> {% if slot.greedy %}Yes{% else %}No{% endif %}<br />
        <strong>Consumes?</strong> {% if slot.consumes %}Yes{% else %}No{% endif %}
    </li>
    {% endfor %}
</ul>
{%- endmacro %}

{% macro file_list(files, category, read_only) -%}
{% for file, entries in files[category].items() %}
<div class="section-file">
    <div class="section-file-title">
        {% if not read_only %}
        <div class="section-file-actions">
            <span class="fas fa-plus"></span>
            <span class="fas fa-edit"></span>
            <span class="fas fa-trash-alt"></span>
        </div>
        {% endif %}
        {{ file.name }} ({{ file.group.value }})
    </div>
    {% for entry in entries %}
    <a class="section-item" href="/{{ category[:-1] }}/{{ entry }}/">{{ entry }}</a>
    {% endfor %}
</div>
{% endfor %}
{%- endmacro %}
