{% extends "base.tpl.html" %}
{% import "macros.tpl.html" as m %}
{% block title %}Recipe: {{ recipe.recipe_id }}{% endblock %}
{% block content %}
<h2 id="content-title">
    {% if not read_only %}
    <span id="content-actions">
        <a href="#" class="content-action" id="content-delete">
            <span class="fas fa-trash-alt"></span>
        </a>
        <a href="#" class="content-action" id="content-edit">
            <span class="fas fa-edit"></span>
        </a>
    </span>
    {% endif %}
    <span id="content-title-prefix">Recipe:</span> {{ recipe.recipe_id }}
</h2>

{% if recipe.burn_image %}
    <img src="/static/images/burnImages/{{ recipe.burn_image }}.png" class="content-image" width="128" />
{% endif %}

<p><strong>Label:</strong> {% if recipe.label %}{{ recipe.label }}{% else %}<em>None</em>{% endif %}</p>

<p><strong>Start Description:</strong> {{ m.optional(recipe.start_description) }}</p>

<p><strong>Description:</strong> {{ m.optional(recipe.description) }}</p>

<p><strong>Action:</strong> {% if recipe.action_id %}{{ m.verb(recipe.action.verb_id) }}{% else %}<em>None</em>{% endif %}</p>

<p><strong>Requirements:</strong> {{ m.aspect_list(recipe.requirements) }}</p>

<p><strong>Effects:</strong> {{ m.aspect_list(recipe.effects) }}</p>

<p><strong>Aspects:</strong> {{ m.aspect_list(recipe.aspects) }}</p>

<p><strong>Alternative Recipes:</strong> {% if not recipe.alternative_recipes %}<em>Nothing</em>{% endif %}</p>
<ul>{% for r in recipe.alternative_recipes %}<li>{{ m.recipe(r.id) }} (chance: {{ r.chance }}%{% if r.additional %}, additional{% endif %})</li>{% endfor %}</ul>

<p><strong>Linked Recipes:</strong> {% if not recipe.linked_recipes %}<em>Nothing</em>{% endif %}</p>
<ul>{% for r in recipe.linked_recipes %}<li>{{ m.recipe(r.id) }} (chance: {{ r.chance }}%{% if r.additional %}, additional{% endif %})</li>{% endfor %}</ul>

<p><strong>Slots:</strong> {% if not recipe.slot_specifications %}<em>None</em>{% endif %}</p>
{{ m.slot_specifications(recipe.slot_specifications) }}

<p><strong>Warmup: </strong> {{ recipe.warmup }}</p>

<p><strong>Maximum Executions: </strong> {{ recipe.max_executions }}</p>

<p><strong>Deck Effect:</strong> {% if recipe.deck_effect %}{{ m.deck(recipe.deck_effect) }}{% else %}<em>None</em>{% endif %}</p>

<p><strong>Ending Flag:</strong> {{ m.optional(recipe.ending_flag) }}</p>

<p><strong>Craftable?</strong> {{ m.yes_no(recipe.craftable) }}</p>

<p><strong>Hint Only?</strong> {{ m.yes_no(recipe.hint_only) }}</p>

<p><strong>Comments:</strong> {{ m.multiline(m.optional(recipe.comments)) }}</p>

{% endblock %}
