{% extends "base.tpl.html" %}
{% import "macros.tpl.html" as m %}
{% block title %}Verb: {{ verb.verb_id }}{% endblock %}
{% block content %}
<h2 id="content-title">
    {% if not read_only %}
    <span id="content-actions">
        <a href="#" class="content-action" id="content-delete">
            <span class="fas fa-trash-alt"></span>
        </a>
        <a href="#" class="content-action" id="content-edit">
            <span class="fas fa-edit"></span>
        </a>
    </span>
    {% endif %}
    <span id="content-title-prefix">Verb:</span> {{ verb.verb_id }}
</h2>

<img src="/static/images/icons100/verbs/{{ verb.verb_id }}.png" class="content-image" width="100" height="100" />

<p><strong>Label:</strong> {{ m.optional(verb.label) }}</p>

<p><strong>Description:</strong> {{ m.multiline(m.optional(verb.description)) }}</p>

<p><strong>At Start?</strong> {{ m.yes_no(verb.at_start) }}</p>

<p><strong>Comments:</strong> {{ m.multiline(m.optional(verb.comments)) }}</p>

{% endblock %}
